version: '3'
services:
  node-app:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - ./src:/app/src:ro
      # - /app/node_modules 
    container_name: my-container
    environment:
      - NODE_ENV=development
